#analogClock {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.button-container {
    margin: 20px auto;
    text-align: center;
}
.text
{
	opacity: 0;
	color: red;
	font-family: comic sans ms;
	font-weight: 900;
	font-size: 25px;
	position: absolute;
	top: 160px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 500;
}
.none
{
	opacity: 1;
}